<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/demo1.css' %}">
</head>
<body>
<h1>{{head_msg}}</h1>
	<ul>
		<li>{{ msg1}}</li>
		<li>{{ msg2}}</li>
		<li>{{ msg3}}</li>
	</ul>
	
</body>
</html>