.container .jumbotron
{
	background-color:red;
	color:white;
	margin-top: 50px;
	}
body{
	background:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/most-beautiful-places-america-palouse-1557772467.jpg);
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	color:green;
}
ul li{
	color:yellow;
	font-size: 18px;
}
img{
	height:250px;
	width:250px;
	border:2px solid red;
	margin:5px;
}